@model IEnumerable<FinalProject.Models.tblGuest>

@{
    ViewBag.Title = "Index";
}

<h2>Current Guests</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.guest_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.time_arrived)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.num_of_guests)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.reservation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblUsedTable.description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.guest_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.time_arrived)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.num_of_guests)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.reservation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblUsedTable.description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.guest_phone_number }) |
            @Html.ActionLink("Details", "Details", new { id=item.guest_phone_number }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.guest_phone_number })
        </td>
    </tr>
}

</table>
